backend/node_modules

# Node.js
node_modules/
npm-debug.log
package-lock.json

# Environment variables
.env 
# Logs
logs/
*.log

# Editor & OS files
.DS_Store
Thumbs.db
.vscode/
.idea/

# Build files
dist/
build/

# Miscellaneous
*.swp
*.swo
